@use "palette";

$opacity: .3;
$opacity-active: .8;
$opacity-hover: .6;

@mixin border-side($direction, $width, $style, $color) {
    border-#{$direction}: $width $style $color;
}


  @function black($opacity) {
    @return rgba(black, $opacity)
};
@function white($opacity) {
    @return rgba(white, $opacity)
};
//TO DO: DEFINE
@function disabled($color: palette.$color-white) {
    @return rgba($color, $opacity)
};
@function hover($color: palette.$color-white) {
    @return rgba($color, $opacity)
};
@function active($color: palette.$color-white) {
    @return rgba($color, $opacity)
}

.icon-error {
    background: palette.$error;
}
.color-error {
    background: palette.$error;
}